[2018-12-05 05:20] ryota-yamamoto opened #1 "cannot use "jsonld" method with "head" method."
[code]

[2018-12-12 17:47] #1 closed

[2019-02-03 23:39] Alex61NN5 opened #3 "Using jsonld() removes all other content from the head of the website"
Hi There,

I added this package as described and when you use this package it removes all existing meta tags specified in the `nuxt.config.js` file

This happens on your example project also, this makes this package pretty much **unusable**

[2019-02-21 10:20] p1pchenk0 commented on #3
I think, issue is in this line:
`if (!this.$options || typeof this.$options.jsonld !== 'function')`

[2019-02-21 11:53] RomanNagornyi commented on #3
Agree with you Alex. I have the same issue

[2019-03-04 05:14] ymmooot commented on #3
Thank you @Alex61NN5 @RomanNagornyi
I will fix this asap 🙏

[2019-03-04 06:54] #3 closed

[2019-03-15 08:04] ymmooot opened #7 "add option to minify the json"
`nuxt-jsonld` dumps the json by using `JSON.stringify` with 2 space indentation.
I want to add an option to customize the indentation.

[2019-03-22 17:01] jmyrland opened #10 "Generated static page results in an error for IE 11/Edge"
When the page is generated statically, the statically rendered pages does not work in IE11/edge due to this package. The error `SCRIPT1028: SCRIPT1028: Expected identifier, string or number` is thrown, and it is related to this section of code:

![image](https://user-images.githubusercontent.com/837651/54839910-1b812a80-4ccc-11e9-960a-01ac6edcb8c1.png)

As you see, the spread operator (`...`) is u

[2019-04-07 00:13] besnikh opened #11 "Is is safe to use this plugin ?"
According to:
[https://github.com/nuxt/vue-meta#__dangerouslydisablesanitizersbytagid-string]

The **__dangerouslydisablesanitizersbytagid** will open the possibility to XSS Attacks.. how safe it is to use the way that you are using in your plugin?

Just asking since I need to use your plugin and was wondering.

Cheers

[2019-04-22 19:38] ilyaskorik commented on #10
What with this issue?

[2019-04-26 15:39] ymmooot commented on #11
Hello @besnikh.
This plugin makes disable sanitize only **your json-ld**.
It does not affect any your data by vue-meta.

That is why, if your json-ls that made by your `json` method is safe, it is save.
Do not output user's input that is not validated with `json` method.

[2019-04-27 08:44] ymmooot commented on #10
I will fix this. Please wait for it:pray:

[2019-05-07 06:18] #11 closed

[2019-05-07 06:29] #10 closed

[2019-05-07 06:36] ymmooot commented on #10
I add babel setting for ie11.
The transpiled files have been published since `v0.0.7`.

[2019-05-08 06:16] #7 closed

[2019-05-13 05:17] ymmooot opened #15 "The automated release is failing 🚨"
## :rotating_light: The automated release from the `master` branch failed. :rotating_light:

I recommend you give this issue a high priority, so other packages depending on you could benefit from your bug fixes and new features.

You can find below the list of errors reported by **semantic-release**. Each one of them has to be resolved in order to automatically publish your package. I’m sure you c

[2019-05-13 05:26] ymmooot commented on #10
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.0.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-13 05:26] ymmooot commented on #7
:tada: This issue has been resolved in version 1.0.0 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.0.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-13 05:27] #15 closed

[2019-05-23 01:13] khrome83 opened #16 "Not working with typescript"
This does not appear to work... really excited to use it though.

I added the plugin, copy and pasted the code (minus the configuration)
Added the `jsonld()` to my index.vue file within pages.

Nothing happened. Added to default.vue within layouts also, got nothing.

Looked at the code and reviewed the /examples folder. I saw there was a plugin line within `nuxt.config.js` which was missing from t

[2019-05-23 20:37] chuckcharles commented on #16
Same here. Seems simple enough to implement. I've implemented in component (~/components/) which is included in page component (~/pages/) yet yields no result.

[2019-05-24 07:11] ymmooot commented on #16
Thank you for your reporting.
I will fix it. Please wait for it 🙏

[2019-05-24 07:23] ymmooot commented on #16
You need to add a setting about plugin to nuxt.config.js like as you say.

[code]

I did the commands below and it worked right.

[code]

Could you give me some reproducing repository?
(with something like [CodeSandbox](https://codesandbox.io/) tool)

[2019-05-24 14:24] khrome83 commented on #16
@ymmooot - unfortantly, it's a private repo.

I did try with the plugin already. I retried using the `.js` and `.ts` extensions with no change. There are no errors, there is just nothing within the head of the document...

[2019-05-24 15:12] ymmooot commented on #16
It is okay that the repo is private.
Could you make new environment which is reproducing the bug?
You can use [CodeSandbox](https://codesandbox.io/s/github/nuxt/codesandbox-nuxt/tree/master/?autoresize=1&hidenavigation=1&view=preview) or push to a public repository.

[2019-05-26 19:29] khrome83 commented on #16
@ymmooot - it would take a lot to reproduce my configuration. There is no telling what is wrong without any errors.

I use typescript with my build as well, so i don't know if that is causing a problem.

Is there a way I can debug this to assist you?
Does this work with `nuxt dev` and `nuxt generate`, have you validated that?

[2019-05-27 02:32] ymmooot commented on #16
@khrome83

Oh, okay. Thanks anyway.
It should work right with `nuxt dev` and `nuxt generate`.
Also with `@nuxt/typescript`.

Could you confirm that it is installed correctly?
You can check it by writing a `console.log` to `install` method in `/node_modules/nuxt-jsonld/index.js` L59.

[2019-05-27 03:19] ymmooot commented on #16
@khrome83

I made a reproducing environment with typescript!!
I will fix this problem as soon as possible.

Thank you and please wait for it !!

[2019-05-27 14:01] khrome83 commented on #16
Ohh @ymmooot, thank you so much. Sorry I am still new to Nuxt and was not sure I could get another enviroment to work. I had so much trouble getting typescript to work the first time. =)

[2019-05-31 07:12] #16 closed

[2019-05-31 07:14] ymmooot commented on #16
:tada: This issue has been resolved in version 1.2.0 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.2.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 07:21] ymmooot commented on #16
@khrome83
I published v1.2.0 that supports TypeScript.
Please use new version and tell me anything if you have any questions.

[2019-05-31 09:02] ymmooot opened #18 "get an error when import `Jsonld` decorator"
## error
[code]

## how to fix
add type definition to `/types`

[2019-05-31 15:55] khrome83 commented on #16
It seems something is still off with version 1.2.0

[code]

<img width="810" alt="Screen Shot 2019-05-31 at 10 53 17 AM" src="https://user-images.githubusercontent.com/1844739/58718076-566da180-8392-11e9-816e-ccd9eb0a73f2.png">

It appears the new version is missing a export.

[2019-05-31 15:57] ymmooot commented on #16
Sorry for that, the issue is #18.
It is almost done, please wait for the release 🙏

[2019-05-31 15:58] khrome83 commented on #16
No problem. Thank you for the quick turn around and response. I saw the PR right after I posted this response. The second you get it up, I can test.

[2019-05-31 16:03] #18 closed

[2019-05-31 16:04] ymmooot commented on #18
:tada: This issue has been resolved in version 1.3.0 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.3.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 16:05] khrome83 opened #20 "Question - Can you layer / override the Jsonld()"
What I mean by this is -

Can I have a default Jsonld() in `/layouts/default.vue`. Then in my `/pages/some-page.vue` append or overright any existing data in that object that default.vue is used as a base?

The benefit I see from this is several fold.

1. Items like organization type, search type are global to the site.
2. Things like breadcrumbs or product descriptions are specific to a product p

[2019-05-31 16:05] ymmooot commented on #16
Thank you so much.
I have just released `v1.3.0`.
Could you try with this?

[2019-05-31 16:09] khrome83 commented on #16
Seeing the same issue after upgrading. Restarting my IDE and clearing NPM cache to be safe. One second.

[2019-05-31 16:12] khrome83 commented on #16
@ymmooot - still happening. Should there be a export statement here with Jsonld. Veutur seems to think so. I am still new to TS myself.

[code]

[2019-05-31 16:12] ymmooot commented on #16
Oh...
Sorry, some config is missing 🙇

[2019-05-31 16:36] ymmooot commented on #18
:tada: This issue has been resolved in version 1.3.1 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.3.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-05-31 16:42] ymmooot commented on #16
@khrome83 please try with `v1.3.1`.

[2019-05-31 16:52] khrome83 commented on #16
@ymmooot  - Now a different problem.

[code]

<img width="1085" alt="Screen Shot 2019-05-31 at 11 51 02 AM" src="https://user-images.githubusercontent.com/1844739/58721377-7d2fd600-839a-11e9-8b47-93d73c6c7848.png">

[2019-05-31 16:53] ymmooot commented on #20
You can not overwrite it, but you can share your jsonld by importing it.

[code]

[code]

[2019-05-31 16:55] khrome83 commented on #20
That was going to be my fallback. Sounds good, thank you!

[2019-05-31 17:14] #20 closed

[2019-05-31 17:23] ymmooot commented on #16
@khrome83 Finally fixed on `v1.3.2`! Check it out 🚀

[2019-05-31 20:10] khrome83 commented on #16
@ymmooot - ok this is for sure working, I can see it, but there are some exceptions. First, think you so much for addressing it.

Food for thought - It does not appear to be generated on the server with `nuxt generate`

I do use `spa` mode with Nuxt on `nuxt generate` so after the JS is downloaded, it does register the script. But viewing the source of the file from the server (right click > view

[2019-06-05 11:26] ymmooot opened #23 "avoid from making jsonld tag when jsonld method returns null or empty object."
`jsonld` method makes JSON-LD script tag even though `jsonld` returns null or empty object.
It should not make any tags when returning null or  empty object.

It would be something like below.

[code]
or
[code]

[2019-06-07 17:06] #23 closed

[2019-06-07 17:07] ymmooot commented on #23
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-06-07 17:16] ymmooot commented on #23
just return `null` when you do not want to make jsonld tag.

[2019-06-07 21:22] xinbenlv opened #25 "Thanks for doing this"
No issue, just plain thank you, long awaited SEO tool for Vue

[2019-06-10 04:37] ymmooot commented on #25
I’m glad it could be help of your SEO.
Please tell me if you have any questions or new features you want.

Thank you.

[2019-06-10 04:37] #25 closed

[2019-07-02 15:27] TrurlMcByte opened #58 "Random hid issue"
In version 1.4.0 you use ```hid = "nuxt-jsonld-" + counter;```, but when I use generator
it's making "different" pages every time (because concurrently generated many pages and for each page counter every time is different)
Like this (all spaces replaced by new lines in generated html)
[code]
In this case md5 sum of page (and ETag) every times changed for stale pages.
It's possible to avoid this p

[2019-07-02 16:07] ymmooot commented on #58
@TrurlMcByte Thank you for reporting issue!
I understood your problem.
I will fix this asap. 🙏

[2019-07-03 08:20] #58 closed

[2019-07-03 08:23] ymmooot commented on #58
:tada: This issue has been resolved in version 1.4.1 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.1)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-07-21 01:12] bigoper opened #72 "jsonld is showing when i "inspect' the code, but not in 'page source'"
# env
- Nuxt.js v2.8.1

# status
- I've followed the installation instructions (plugin, nuxt-config)
- I can see the jsonld data when I 'inspect' the page, but it won't show when I browse the page source. so, Google structure test tool won't recognize it.

## data()
[code]
### jsonld()
[code]

### image 1: inspect
https://pasteboard.co/IoVJkfr.png

### image 1: view source
https://pasteboard.co/Io

[2019-07-21 15:48] ymmooot commented on #72
@bigoper
You have to do server-side rendering if you want to return html response with jsonld tag.
Your application looks running `spa` mode.

[2019-07-26 13:54] #72 closed

[2019-08-20 10:22] ymmooot opened #98 "not working properly with nuxt.js v2.9.0"
jsonld will be like this.

![image](https://user-images.githubusercontent.com/28696621/63339400-fd991e00-c36e-11e9-9beb-5027a346ae55.png)

sinse nuxt v2.9.0, they uses vue-meta v2.0.0.

[2019-08-20 11:19] #98 closed

[2019-08-20 11:24] ymmooot commented on #98
:tada: This issue has been resolved in version 1.4.2 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-05 13:35] oanstein opened #112 "[Bug Report] Issue if "head" is already set. In example vuetify.js does not work with nuxt-jsonld"
## Related
https://github.com/vuetifyjs/vuetify/issues/8855#issuecomment-528318381

## Problem
It breaks with other code and packages if they also have "head" set

## Reproduction Link
https://codesandbox.io/s/codesandbox-nuxt-8tbth

## Other comments
The mixin in https://github.com/ymmooot/nuxt-jsonld/blob/master/src/createMixin.ts probably overrides what Vuetify does. Maybe it's possible to take

[2019-09-05 15:15] ymmooot commented on #112
@oanstein Thank you for reporting.
I will take care of this ASAP.
Please wait for a new version.

[2019-09-06 16:46] #112 closed

[2019-09-06 16:49] ymmooot commented on #112
:tada: This issue has been resolved in version 1.4.3 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.3)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-17 15:53] LuXDAmore opened #123 "Possible memory leak with new version of VueMeta@2"
Updating `nuxt@2.9.2` and `vue-meta@2.2.0`, and browsing the website, cause Google Chrome to crash.

You can see what's happening [here](https://github.com/nuxt/nuxt.js/issues/6338#issuecomment-531751641).

I'm trying to reproduce the issue in this [codesandbox](https://codesandbox.io/s/nuxt-vue-meta-220-bug-rrd1z).

[2019-09-17 16:18] pimlie commented on #123
The issue is that this module adds a global mixin which adds a `head()` used on _all_ Vue components. The [nuxt-i18n docs](https://nuxt-community.github.io/nuxt-i18n/seo.html#improving-performance) write why that a potential performance issue

Besides the approach nuxt-i18n of letting the user merge meta info, starting with `v2.3` it will be possible to inject metaInfo into vue-meta without going

[2019-09-18 04:20] ymmooot commented on #123
Thank you for the information. 🙏
I will fix it.

[2019-09-18 07:49] pimlie commented on #123
Thank you for this plugin!

Btw, maybe it would also be interesting to convert this plugin to a [module](https://nuxtjs.org/guide/modules)? That way people only have to add an entry to the module section in their nuxt.config and they dont have to create their own plugin.

Just tag me if you need help with that or would like a review.

[2019-09-18 13:25] Zsavajji commented on #123
A bit unrelated to the issue, but what would be the correct way to push some meta in a module? @pimlie

[2019-09-19 07:13] ymmooot commented on #123
@pimlie Thank you so much.
I want to convert this plugin to a module in next major version.
I will tell you when I make a module version!

[2019-09-19 10:53] pimlie commented on #123
@Zsavajji It probably depends on the kind of meta information you want to push, or better do you need Vue's reactivity or not? In most cases you will need that so your meta info changes on navigation.

In the current stable vue-meta there isnt really a good way of injecting independent meta info from within a module. With `v2.3` the recommended approach will be:

- add a plugin
- let that plugin i

[2019-09-19 11:18] Zsavajji commented on #123
Very detailed answer, thank you.
So your advice is still to use a global mixin, to dynamically insert meta with the new `v2.3` methods.
I'm asking cause i saw other ways in modules i'm using, like reassigning the `head` property of a component in the plugin, and i was curious about what would the _best_ way of doing that was in your opinion.
By sticking to older versions though, wouldn't it be eno

[2019-09-19 15:30] pimlie commented on #123
Yes, but the difference being that the global mixin _only_ adds a beforeCreate hook (and currently destroyed due to the memory leak in vue). Within that hook you then first check if the component is relevant to your module, and only if it is you add the hooks which will do the actual work.

Not sure how / if / when reassigning `head` works, which modules are you referring to? If `head` is a functi

[2019-09-19 15:45] Zsavajji commented on #123
I may have found out how to patch head the correct way, and i'll submit a PR later, if i get typescript sorted out 😂

[2019-09-23 07:41] #123 closed

[2019-09-23 07:42] ymmooot opened #128 "Avoid hashing to make hid"
Idea: Gathering each json as an array and putting the array into root component.
This approach does not need to make hid each json.

refs: https://github.com/ymmooot/nuxt-jsonld/pull/126#discussion_r326732633

[2019-09-23 07:45] ymmooot opened #129 "Modularize"
Modularize this plugin.
Module configs can be set from `nuxt.config.js` instead of plugin file.

[2019-09-23 08:12] ymmooot commented on #123
:tada: This issue has been resolved in version 1.4.4 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.4)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2019-09-23 16:23] AndrewBogdanovTSS commented on #123
@ymmooot after I upgraded to `vue-meta@2.3.0-beta.0` and `nuxt-jsonld@1.4.4` performance has increased drastically compared to the previous version, no memory leak I can observe by now. Will let you know if I'll stumble upon something in the future. Thanks a lot for the fix! 🎉

[2019-09-23 21:22] Zsavajji commented on #123
`vue-meta@2.3` should not be required, as we're not using any features of the new version for now :)

[2019-09-24 07:04] AndrewBogdanovTSS commented on #123
It was more a test to make sure the latest beta isn't affected by any side effects 1.4.4 could create

[2019-10-02 06:44] papakay opened #136 "How can i use this with to generate multiple json schema on a single page?"
Please i need information on how to generate multiple json schema on a single page. Thank you.
.

[2019-10-02 10:32] marvinhuebner commented on #136
Yes, I just want to have that too, seems not to be possible at the moment.

[2019-10-02 10:36] marvinhuebner opened #137 "Generation probably only works in components and not in pages"
I have the problem that the generation apparently only works in components and not in page components, is that so or do you have to do something extra?

I wanted to create an example on CodeSandBox, but unfortunately it doesn't work here for some reason: https://codesandbox.io/s/nuxtjs-json-ld-example-mtwxu?fontsize=14&module=%2Fcomponents%2FLogo.vue

Thanks for the module and your help in advance

[2019-10-02 11:45] ymmooot commented on #136
You can use `json` method from multiple components, then you will get multiple `<script type="application/ld+json"></script>` tags.

[2019-10-02 11:57] ymmooot commented on #137
@marvinhuebner
`jsonld` method of page components also generates JSON-LD tag without doing anything extra.
The codesandbox reproduction link looks working and two JSON-LD is showing up correctly.

![image](https://user-images.githubusercontent.com/28696621/66042046-548d3800-e556-11e9-9657-1200c2d97e00.png)

[2019-10-04 07:24] marvinhuebner commented on #137
Now it works also for me.

It looks like you have to restart the dev task, I guess I just didn't do that because nuxt actually reloads the config when I change something.

Will close the issue. Sorry for the interruption.

[2019-10-04 07:24] #137 closed

[2019-10-04 07:27] ymmooot commented on #137
@marvinhuebner
Sounds good. Thank you for using my plugin 👍

[2019-10-21 08:02] #136 closed

[2019-11-15 15:48] ilyaskorik commented on #98
It does not work again

[2019-12-22 22:17] ymmooot opened #219 "Random hid issue"
# what is going on

This plugin uses `hid` to allow raw HTML string for innerHTML of JSON-LD script tag.
This `hid` will be changed every request to server or every generate static site.
It means ETag is changed every time even though contents are totally same.

# note
It reported in #58.
I fixed it by making hash for hid, but it was too heavy to use in large component.
So I revert it in #218.

[2019-12-22 22:18] ymmooot commented on #128
#219

[2019-12-22 22:18] #128 closed

[2020-01-22 03:18] arkhamvm opened #247 "How to return several json-ld scripts?"
Hi. I need to return two json-ld scripts - `Article` and `BreadcrumbList` which can't be joined one to each other, so i need two sepeated script tags in one component.
How i can do it?

[2020-01-29 16:33] madsh93 commented on #247
I need to know this as well. Hopefully somebody can help us out 👍

[2020-01-29 16:49] ymmooot commented on #247
You can use `@graph` to dump multi structured data in one script tag.
Check this out 👉  [named-graphs](https://www.w3.org/TR/2014/REC-json-ld-20140116/#named-graphs).

You can confirm that the following JSON-LD is valid with [Structured Data Testing Tool - Google](https://search.google.com/structured-data/testing-tool/u/0/).

[code]

[2020-01-30 00:33] arkhamvm commented on #247
Thanks! I was missed out `@graph` notation.

[2020-01-30 11:27] madsh93 commented on #247
Works like a charm. Thank you ymmooot 💃

[2020-02-07 10:43] #247 closed

[2020-04-04 20:42] taylorkrause opened #322 "Re-run jsonld() after fetching some data"
Is it possible to re-run jsonld() after fetching some data?

[2020-04-07 05:24] ymmooot commented on #322
`jsonld()` method has reactivity.
I don't think you have to need rerun it expressly

[2020-04-17 14:28] TeXmeijin opened #336 "nuxt-jsonld seems that overwrites page components head script configuration."
When I use nuxt-jsonld like following source code:

[code]

Then rendering page do not contain `'https://testscript.com/'` script tag.

The reason is that mergeHead.ts overwrites component.head object.
`https://github.com/ymmooot/nuxt-jsonld/blob/master/src/mergeHead.ts`

[code]

![スクリーンショット 2020-04-17 18 34 12](https://user-images.githubusercontent.com/7464929/79578757-9e5bfb00-8101-11ea-8e32-855

[2020-04-21 11:19] #336 closed

[2020-04-21 11:30] #322 closed

[2020-04-21 11:53] ymmooot commented on #336
:tada: This issue has been resolved in version 1.4.6 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.6)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld/v/1.4.6)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-21 14:01] subjacked opened #341 "this.getMeta is not a function"
Since version 1.4.6 I get this error in the frontend. I call the jsonld method in my wildcard page _.vue file. With version 1.4.5 everyhting worked as expected. Additionally it shows a warning:

Error in beforeCreate hook: "TypeError: this.getMeta is not a function"

![image](https://user-images.githubusercontent.com/2064769/79874934-3c451380-83e9-11ea-857a-4a007b5a491c.png)

[2020-04-21 14:26] LuXDAmore opened #342 "v1.4.6: Error in beforeCreate hook: "TypeError: Cannot read property 'state' of undefined""
Hi! ✋

I have something like this:

[code]

and after updating from `v1.4.5` to `v1.4.6`, i'm getting this errors:

___

_Getting back to v1.4.5, It works properly_

[2020-04-21 15:11] ymmooot commented on #342
Hi! @LuXDAmore ✋
Thank you for your speedy reporting.
I am working on this issue!

[2020-04-21 15:35] ymmooot commented on #341
sorry about it.
please use v1.4.5
I'm working on it.

This is happening for the same reason as https://github.com/ymmooot/nuxt-jsonld/issues/342.

[2020-04-21 15:36] ymmooot commented on #341
sorry about it.
please use v1.4.5
I'm working on it.

This is happening for the same reason as https://github.com/ymmooot/nuxt-jsonld/issues/342.

[2020-04-21 16:24] #341 closed

[2020-04-21 16:24] #342 closed

[2020-04-22 12:38] LuXDAmore commented on #342
Thank you for the rapid fix!! 🚀

_That problem was fixed, but another one comes.._

[code]

This is a mixin in a page, and `this.pagination.page` is coming from the asyncData method 🤔

On `v1.4.5` still no errors

[2020-04-22 12:42] ymmooot opened #347 "can not read data"
[code]

This is a mixin in a page, and `this.pagination.page` is coming from the asyncData method 🤔

On `v1.4.5` still no errors

_Originally posted by @LuXDAmore in https://github.com/ymmooot/nuxt-jsonld/issues/342#issuecomment-617753858_

[2020-04-22 12:44] ymmooot commented on #342
Thank you again and sorry for not working versions.
I am fixing this issue ASAP.

[2020-04-22 13:23] LuXDAmore commented on #342
Don't worry! I can keep the v1.4.5 😎 , take your time!  :)

Thank you for your fantastic work!  💪

[2020-04-22 15:28] AndrewBogdanovTSS opened #348 "TypeError: Cannot read property 'name' of undefined after upgrade to 1.4.8 from 1.4.5"
After I've upgraded from 1.4.5 to 1.4.8 I've started to get this issue which seems to not be related to the specific data of my app but rather some internal issue of the lib
https://take.ms/1YULd

[2020-04-22 15:30] AndrewBogdanovTSS opened #349 "Can't install v. 1.4.6 or 1.4.7"
When I try to manually install v.1.4.6 for testing - I get this message from yarn https://take.ms/0ui3m
it also suggests me to install a v.2.0.0 which doesn't exist in the `nuxt-jsonld` repo. Is it safe to install?

[2020-04-23 03:02] ymmooot commented on #349
2.0.0 was published by mistake.
Please use 1.4.8.

[2020-04-23 03:04] ymmooot commented on #348
same reason of error as #347

[2020-04-23 03:04] #348 closed

[2020-04-23 07:02] AndrewBogdanovTSS commented on #349
@ymmooot can't use it since it has issues I described in #348

[2020-04-23 14:10] subjacked commented on #341
For me the problem is still present even with 1.4.8

[2020-04-24 05:44] ymmooot commented on #349
Please use v1.4.5 🙇

[2020-04-24 08:42] #347 closed

[2020-04-24 08:44] ymmooot commented on #347
:tada: This issue has been resolved in version 1.4.9 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.9)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld/v/1.4.9)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-04-24 08:48] ymmooot commented on #347
Hi @LuXDAmore @AndrewBogdanovTSS .
I have just published v1.4.9. Could you try the new version?

I hope it will solve the problem 🙏

[2020-04-24 08:51] ymmooot commented on #349
https://github.com/ymmooot/nuxt-jsonld/issues/347#issuecomment-618887985

[2020-04-24 08:51] #349 closed

[2020-04-24 11:20] LuXDAmore commented on #347
@ymmooot Everything seems fine! 🚀

Thank you very much  💯

[2020-04-24 16:20] AndrewBogdanovTSS commented on #348
Seems to be working fine after upgrade to 1.4.9. Thanks 👍

[2020-04-30 03:57] ottz0 opened #354 "Script tags don't Generate"
I'm using Nuxt.js Universal mode and I've installed according to your docs. I've console.log(items); before the return and it's getting the list however it does not display the script tag in the source code on npm run dev or with npm run generate (npm run start), no Other errors except the script is not injected in the head section in the source code

[2020-05-04 06:27] ymmooot commented on #354
Please provide a online reproduction by [CodeSandbox](https://codesandbox.io/) or github repo.

[2020-05-19 22:58] tdwells90 commented on #354
I also had this issue, but it was because I was using the plugin in 'client' mode.

[code]

This might not be helpful to you, but it fixed the issue for me.

[2020-06-13 03:44] kimulaco opened #392 "Return null in TypeScript will result in a type error"
This is a great module! Thank you for your maintenance.

Use TypeScript, I found that return a `null` in `jsonld()` results in an error.

## Environment

- Nuxt.js: ^2.12.2
- TypeScript: ^3.8.3 (@nuxt/typescript-build: ^0.6.5)
- nuxt-jsonld: ^1.4.9 (lasted)

## About

Like here, I have a case that returns null.
However, as the return value of `jsonld()`, only `object` is defined, so if return null

[2020-06-15 03:23] #392 closed

[2020-06-15 05:10] ymmooot commented on #392
:tada: This issue has been resolved in version 1.4.10 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.4.10)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld/v/1.4.10)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-06-26 20:01] danieltamas commented on #354
Have the same issue. Using it in **spa** mode, removed the `mode: 'client'` and still no tags

[2020-06-27 01:39] ymmooot commented on #354
@danieltamas Could you give me a reproduction link or some more information to reproduce?
The example project in `/examples/basic` looks work fine in SPA mode as well.

[2020-06-27 13:16] danieltamas commented on #354
@ymmooot sure thing.

I've put the **ldjson()** method inside the page component, inside a component in the page component, using `mode: spa` with `npm run generate`.

it doesn't event show up. further more, I put a `console.log()` inside the **ldjson()** method, nothing gets triggered.

any pointers are of help

[2020-06-27 19:26] ymmooot commented on #354
@danieltamas Thank you the information.

I did following steps.

1. clone this repository
2. `cd ./expample/basic`
3. `yarn install`
4. change nuxt.config.js to `spa` mode
5. `yarn generate`

And checked the `./dist/index.html`, I got json+ld script tags...
Did you register the plugin by adding `plugins: ['@/plugins/jsonld']` to nuxt.config.js?
Or are you using some libraries which affect the `hea

[2020-06-27 21:00] danieltamas commented on #354
hmm..well nuxt uses the `vue-head` library and I do have a config for each page for the head part.
maybe that might be the problem?

what I can tell for sure is that none of the pages where I have added **ldson** have the actual generated tags.

[2020-06-28 08:17] danieltamas commented on #354
also did copy the repo.
an error exists in the **package.json** where **jsonld** is referenced as `nuxt-jsonld: ../../lib` but that folder does not exist.

and the results are the same: no tags in the head. posting the generated html

`

  | <!doctype html>
-- | --
  | <html>
  | <head>
  | <title>example</title><meta data-n-head="1" charset="utf-8"><meta data-n-head="1" name="viewport" content="w

[2020-06-29 03:34] ymmooot commented on #354
Sorry I forgot to write build step. 🙇

1. clone this repository
2. `yarn build` 👈
3. `cd ./expample/basic`
4. `yarn install`
5. change nuxt.config.js to `spa` mode
6. `yarn generate`

[2020-06-29 03:38] ymmooot commented on #354
Component's `head` will be automatically merged with the result of the jsonld method.
So it is no problem.

[2020-06-29 06:06] danieltamas commented on #354
now getting this

`yarn run v1.22.0
$ rimraf lib
$ tsc -p .
/bin/sh: tsc: command not found`

[2020-06-29 15:45] ymmooot commented on #354
Oh, I will add dependencies to build typescript codes.

I guess you need to `yarn install` before `yarn build`.
Sorry for lacking of preparation to develop.

[2020-06-29 17:22] danieltamas commented on #354
no worries. the objective is to get it up and running :) maybe someone else has the same issues and they'll find this useful.
thank you for taking the time to do it

[2020-06-30 09:56] danieltamas commented on #354
@ymmooot following up here. now everything shows up with one mention ( error on my side ):
- was looking at the generated result and no `ld+json` in the head part

That threw me off. In the DOM the tags show up properly.
Sorry about that as well. How hard would it be to add this to the `generate|export` hook ?
Having a this tag generated statically makes it easier for crawlers

[2020-06-30 10:30] ymmooot commented on #354
The static HTML files that are the result of `yarn generate` of the examples in this repository have an `application/ld+json` tag.
I guess there is a library affecting `head` and `nuxt-jsonld` fails to merge.

[2020-06-30 12:04] danieltamas commented on #354
hmmmm..... now you made me wonder. currently I use `npm run build && npm run export` as with `nuxt 2.13.2` . cannot figure it out for the moment ( what's causing this )

[2020-06-30 17:30] ymmooot commented on #354
Results of `export` command of nuxt2.13.2 have jsonld script tags too.

I want to reproduce it.
Could you tell me more details of your `package.json` and `nuxt.config.js`?
I need to know what packages you are using and how you configure nuxt.

[2020-07-02 14:58] Epistol opened #408 "Support for Composition Api ?"
Any support for the new composition api ?

[2020-07-03 06:43] ymmooot commented on #408
I am going to make a function for then new composition api.
Please wait for it. Or pull requests are always welcome!

[2020-07-13 03:01] tjkohli commented on #129
Yes, please!

[2020-07-17 15:13] IgorOleniuk opened #423 "Duplicate structured data items in Google structured data test tool"
https://github.com/ymmooot/nuxt-jsonld/blob/12a6d8b936de9b686c3e16f54a6cf8f69d75480f/src/mergeHead.ts#L24

I'm testing a structured data on the website. And it shows duplicate structured data items.
<img width="700" alt="Screenshot 2020-07-17 at 18 02 42" src="https://user-images.githubusercontent.com/51889774/87800949-b86bbd80-c857-11ea-8d96-1ed46280763b.png">

There is a duplicated structured da

[2020-07-17 15:44] ymmooot commented on #423
Hi @IgorOleniuk ✋

I guess Google structured data testing tool accesses the site and run your JavaScript code.
The ld+json script tag after html closing tag may be inserted by JavaScript on client-side.

Could you check that you use `jsonld()` method in components that rendered only on client-side, and the result of `jsonld()` method duplicates ld+json script tags rendered on server-side?

[2020-07-17 16:51] IgorOleniuk commented on #423
Hi @ymmooot thanks for your reply!

It's a static website, I run nuxt generate.

Here's a screenshot from page source:

<img width="1407" alt="Screenshot 2020-07-17 at 19 49 00" src="https://user-images.githubusercontent.com/51889774/87810991-9168b800-c866-11ea-9c6e-18733c8684a8.png">

[2020-07-17 17:06] ymmooot commented on #423
I see, you should check your client-side `jsonld()` makes duplicate tags with generated ld+script tags.
Could you show me the component source code that using `jsonld()` ?

[2020-07-17 18:03] IgorOleniuk commented on #423
Sure, here it is:

<img width="1440" alt="Screenshot 2020-07-17 at 21 01 39" src="https://user-images.githubusercontent.com/51889774/87816946-c67a0800-c870-11ea-9d21-95b97e386329.png">
<img width="1440" alt="Screenshot 2020-07-17 at 21 01 50" src="https://user-images.githubusercontent.com/51889774/87816959-c974f880-c870-11ea-9e9c-043e3a50370a.png">

[2020-07-17 18:31] ymmooot commented on #423
Thank you for the code.
I figured out the reason.

1. `nuxt generate` makes static HTML files having jsonld tag like below. The data-hid is also made by this command.
[code]
2. When structured data testing tool requests to the hosted HTML file, it will get the `data-hid="nuxt-jsonld-6"` tag.
3. After hydration, your `mounted()` function will be modify title and jsonld tag will be recreated by reac

[2020-07-17 20:44] IgorOleniuk commented on #423
Thank you for your answer.
I tried to delete the hole mounted block but it didn't help.

[2020-07-17 20:51] ymmooot commented on #423
hmm...
I guess there is clinet-side code besides `mounted` recreates jsonld.

[2020-07-17 20:54] ymmooot commented on #423
Anyway, using private Vue _id for hid is an existing issue.
I will investigate this as well.

(I would appreciate if you make reproduction link with codesandbox.io!)

[2020-07-17 21:17] IgorOleniuk commented on #423
Oh, I'm so sorry. I wish I could but it's a client project and I don't have enough permissions to publish it fully.

[2020-07-17 21:21] ymmooot commented on #423
It's OK not to publish you entire app.
I need small code to reproducing.
Please make similar code causing same error if you have time. 👌

[2020-08-11 07:01] asajadian commented on #136
We add `jsonld`s to main page component. I think adding it to another component is not the right way to achieve this, you may lose track of them. I believe there must be an option to add all in one `jsonld` method.

[2020-08-11 07:07] ymmooot commented on #136
Hi @asajadian
You can make multiple json in your main page component.
See this issue https://github.com/ymmooot/nuxt-jsonld/issues/247

[2020-08-15 20:21] asajadian commented on #136
Hi @ymmooot
That's cool. Thanks!

[2020-08-19 15:35] TrurlMcByte commented on #219
Changing HID making rehash all page on server, change ETag, and download page again. It's more heavy operations. Try to use hash by only part of jsonld (for example only first 1-2 levels). Usually it's enough. But need more investigation and review

[2020-09-15 22:52] ymmooot opened #470 "typed plugin export is not working"
works

[code]

---

doesn't work

[code]

[2020-09-17 06:32] #219 closed

[2020-09-17 06:35] ymmooot commented on #219
:tada: This issue has been resolved in version 1.5.0 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.5.0)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld/v/1.5.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2020-10-15 01:35] samicodesit opened #498 "[SSR] jsonld method seems to be called twice"
I'm working on a Nuxt.js app in universal mode

On my `_sku` page I have:

[code]

I get `----- Calling getPrice method -----` showing on both my terminal (server)
then followed by another `----- Calling getPrice method -----` on my browser console (client)

[2020-10-15 18:34] adarshmadrecha commented on #247
@ymmooot add this issue link or this solution in the readem.md file of the repo.
I am sure man users will be having this question.

[2020-10-15 23:02] ymmooot commented on #247
@adarshmadrecha I added the description to the README.md https://github.com/ymmooot/nuxt-jsonld/commit/01e5fab73efb9d948f3eea1ac4ad8b8ecfc9b98f

[2020-10-15 23:17] ymmooot commented on #498
What version are you using?

[2020-10-15 23:23] ymmooot commented on #498
`jsonld` method runs as part of the `head` method.
`head` method runs on both server and client side.

[2020-11-30 09:26] #498 closed

[2020-12-15 15:35] madsh93 opened #553 "Defer or async as script tag possible?"
Hi!

Is it possible to add tags to the generate script, if so how? :-)

[2020-12-24 21:43] ymmooot commented on #553
This plugin does not provide a way to add defer or async to scripts.
Is there impact on the rendering performance?

[2021-01-17 02:36] t1mwillis opened #564 "Possible to load on a per-component basis?"
The documentation for using this with Nuxt specifies setting up a global plugin as follows:
[code]

I'm curious if it's possible to do this _only_ in the components that need access to this module? For example:

[code]

I have had success doing this with other packages like `vue-scrollactive` but in my limited testing, this did not seem to work.

[2021-01-18 08:59] ymmooot commented on #564
Hi @t1mwillis ✋
This plugin uses `beforeCreate` to work `jsonld` method of a component. (source code is [here](https://github.com/ymmooot/nuxt-jsonld/blob/62f36a9fd274de4c8dde9261a3ed99f6f5be64be/src/createMixin.ts#L20))
So you have to load the plugin **before** inialization of the component.

[2021-01-18 09:06] #553 closed

[2021-01-19 16:45] t1mwillis commented on #564
@ymmooot thank you for your work on this project and taking the time to answer my question.

I'll play around with other options that might be able to leverage this hook, perhaps a parent component could load it for the child.

Is it possible that we could use a different hook? Or is `beforeCreate` required because of the SSR nature of this?

[2021-01-19 16:45] #564 closed

[2021-01-23 10:00] snaix93 commented on #354
Getting a similar problem. Installed the package successfully and the code is running as I can see in console:
[code]

But after I run :
npm ci or npm install
npm run generate,
npm run start

The data is not displayed when I hit ctrl+U

My config

[code]

jsonltd:
[code]

Json ltd located on the same lvl as data
[code]
Can you help please?

[2021-01-23 11:16] snaix93 commented on #354
Actually it's working. I am not able to see it when pressing ctrl + u butt google data structured test sees everything with no errors. Thank you :)

[2021-02-01 11:32] ymmooot commented on #354
This issue is old.
Please open new issue when having problems with current version of the plugin.

[2021-02-01 11:32] #354 closed

[2021-05-15 06:16] CavalcanteLeo opened #639 "Help wanted (doubt) - components and json-ld"
This might be a pretty silly question, but I'm completely newbie for jpso-ld and SEO.

Let's assume I have 2 components, `navigation.vue` and `companies.vue` and 1 page `index.vue` and each of these 3 needs some json-ld data.

`index.vue`
[code]

Do I have to write in only 1 place? or can i have multiples json-ld(one for each component) rendered in the same page?
Or even more, when I generate a st

[2021-05-21 07:42] ymmooot commented on #639
You can have multiples components that having `jsonld` method.
They create multiple script tags for JSON-LD, each tag is reactive with the corresponding component.

[2021-05-21 13:31] CavalcanteLeo commented on #639
amazing, thanks for your explanation

[2021-05-21 13:31] #639 closed

[2021-06-09 12:37] timpulver opened #661 "Support for asyncData"
Currently nuxt-jsonld does not seem to work with `asyncData`. When `jsonld()` is called, the data in `asyncData` is not ready, yet.

Would be great if support could be added.
I am fetching content from a headless CMS (including json-ld).

[2021-06-23 09:41] ymmooot commented on #661
Hi @timpulver.
I think `jsonld()` with `asyncData` does work well.

I rewrote `/examples/basic/pages/index.vue/`  as follows and I got a right JSON-LD tag.

[code]

Could you make a reproduction link with [codesandbox.io](https://codesandbox.io/)?

[2021-07-02 14:21] niteshkumarniranjan opened #671 "XSS vulnerability when using SSR"
[code]

There's a potential XSS problem when using this library.
even though there was no alert shown, the code started bleeding in the HTML and became visible on the page.

[2021-08-03 09:46] madsh93 commented on #661
I seem to be getting same issue with `async asyncData`. It only errors on Hot Module updates with:

[code]

I'll see if I can get time to create a reproduction. Here's a simplified version of my code:

[code]
The code does work when generating static site, and on <Nuxt-link> and hard refresh. For me it is only a Hot Module problem.

[2021-08-04 03:53] #661 closed

[2021-08-04 03:53] #423 closed

[2021-08-04 04:39] #671 closed

[2021-08-04 04:41] ymmooot commented on #671
Hi @niteshkumarniranjan, thank you for your report and sorry for my late reply.
I have fixed this and will release new version.

[2021-08-04 04:42] ymmooot commented on #671
:tada: This issue has been resolved in version 1.5.2 :tada:

The release is available on:
- [GitHub release](https://github.com/ymmooot/nuxt-jsonld/releases/tag/v1.5.2)
- [npm package (@latest dist-tag)](https://www.npmjs.com/package/nuxt-jsonld/v/1.5.2)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-09-21 07:35] forna91 opened #723 "Child route don't change breadcrumb"
Like in title, the child route don't change my jsondl, any work around??

[2021-10-05 10:14] ymmooot commented on #723
@forna91 Thank you for your report.
Let me reproduce the problem.
Please wait 🙏

[2021-10-25 05:44] jesteracer opened #742 "Having urls inside JSON-LD with & symbols"
Hey, rirst of all — thanks for the plugin!

I am working on integration it with a current website and I stumbled upon an issue —

If I have image url pattern, that looks something like `/image?id=123&size=xl`
And this types of string get escaped, so I end up with `?id=123&amp;size=xl`, and that is obviously not correct.

Can you explain, what is the idea behind the conversion of symobls like & to

[2021-10-25 05:47] #742 closed, assigned to nobody

[2021-11-12 11:36] DavidGolodetsky commented on #408
I don't see the PR was merged. Is this composable is available now?

[2021-11-14 03:22] ymmooot commented on #408
The code in the PR does not work right.
Not available yet.

[2021-11-18 16:31] ymmooot commented on #723
I will close this issue because I can get enough information to reproduce the bug.
Please reopen if needed.

[2021-11-18 16:31] #723 closed

[2021-12-06 17:24] lazercaveman commented on #408
Anything new about this???

[2021-12-06 17:29] lazercaveman opened #763 "Nuxt 3 Support"
Hello, is it planned to add support for Nuxt 3 and composition api in near future?

[2021-12-07 08:26] ymmooot commented on #763
Hi @lazercaveman.
I have a plan to make a new version for Nuxt3 and composition api within the next few months.
Please wait for it 🙏

[2022-04-03 18:39] niklasfjeldberg commented on #763
Any @lazercaveman update on this?

[2022-04-11 06:08] ymmooot commented on #763
Sorry for the delay.
I am working on this at https://github.com/ymmooot/nuxt-jsonld/tree/nuxt3 and it will be finished soon.
Please wait for the release.

[2022-04-16 14:06] #470 closed

[2022-04-16 14:09] ymmooot commented on #763
I have just released the new version of `nuxt-jsonld` for Nuxt3 and it has composition api.
Please try the new version and give me feedback.
Thank you for waiting.

[2022-04-16 14:09] #763 closed

[2022-04-16 14:12] ymmooot commented on #408
I have release the new version of `nuxt-jsonld` and it has composition api.
I have no plans to make composition api for Nuxt2 at this time.
Let's move on Nuxt3 :pray:

[2022-04-16 14:12] #408 closed

[2022-04-16 14:13] ymmooot commented on #129
The new version for Nuxt3 work as a module.

[2022-04-16 14:13] #129 closed

[2022-04-16 15:58] chainalert-bot opened #833 "ChainAlert: npm package release (2.0.1) has no matching tag in this repo"
Dear [nuxt-jsonld](https://npmjs.com/package/nuxt-jsonld) maintainers,
Thank you for your contribution to the open-source community.

This issue was automatically created to inform you a **new version (2.0.1) of [nuxt-jsonld](https://npmjs.com/package/nuxt-jsonld) was published without a matching tag in this repo**.

As part of our efforts to fight software supply chain attacks, we would like to v

[2022-04-16 19:08] #833 closed

[2022-05-12 04:40] shash7 opened #860 "Error: Cannot find module '@nuxt/kit'"
Seems like you forgot to add this in your package.json
Adding it to my project makes it work.

I'm using nuxt-jsonld with nuxt v2 btw.

[2022-05-12 05:29] ymmooot commented on #860
Hi @shash7.
Nuxt v3 includes `@nuxt/kit` and `nuxt-jsonld@v2` does not support Nuxt v2.

[2022-05-12 06:35] shash7 commented on #860
Got it. Works fine with the 1.x releases.

[2022-05-12 06:35] #860 closed

[2022-06-14 11:52] oscarhandsome opened #887 "Nuxt-jsonld + TypeScript"
Hi everyone, thanks owners for this plugin!

Please help me, or suggest a way of solving this issue related to a TS.

**package.json**
[code]
I made all steps [here ](https://github.com/ymmooot/nuxt-jsonld/blob/v1/README.md)
and got these results:
How do I need correctly to inject it into my project?
![image](https://user-images.githubusercontent.com/8983274/173570712-efd511bc-9cb5-4c86-9a5c-366ee

[2022-06-15 04:36] ymmooot commented on #887
Hi @oscarhandsome.
Does the`this.navigationNuxt` have a type that is not `any` or `unkown`?

[2022-06-15 12:01] oscarhandsome commented on #887
@ymmooot i found solution!
[This helped](https://github.com/wagerfield/nuxt-typescript/issues/6) to me + this [code](https://codesandbox.io/s/1q478mzyvj?file=/tsconfig.json:608-679):
I added into **tsconfig.json**
[code]
But now I don't understand for what I need [nuxt/typescript](https://github.com/nuxt/typescript) if it's not works after installing your package.

[2022-06-16 01:05] ymmooot commented on #887
There is a minimum example of TS & nuxt-jsonld [here](https://github.com/ymmooot/nuxt-jsonld/blob/9baa1ff5093d3a54ea5d76457e1088acb63147c0/examples/typescript/pages/index.vue).

You should make a minimum reproduction code with codesandbox.
It doesn't have to be all your code, as long as you can reproduce the problem.

[2022-06-22 23:32] #887 closed

[2022-08-08 17:17] tataputri opened #927 "Cant generate JSONLD on SSR Mode"
Hi, i've trying to use this module to generate jsonld on my web,
somehow it run perfectly on DEV, but when i build it and run it on NODE Server, it

on my jsonld i use data from external API, using asyncData
![image](https://user-images.githubusercontent.com/105484949/183475565-b9f4bf07-2333-4504-a77b-7e0b86166420.png)

please help me with this one. because it broke the page and the data is failed

[2022-08-09 06:24] ymmooot commented on #927
Hi @tataputri, please give me a reproduction link using [codesandbox.io](https://codesandbox.io/).

[2022-08-13 14:11] kstraszewski opened #932 ""Does not provide an export named 'default'" After updating to Nuxt3 rc.8"
Hi, after upgrading to Nuxt3 RC8. I'm getting this error:

Uncaught SyntaxError: The requested module '/node_modules/nuxt-jsonld/dist/runtime/plugin.js' does not provide an export named 'default' (at client.mjs:5:8)

[2022-08-16 06:05] ymmooot commented on #932
Hi @kstraszewski, thank you for reporting.

[2022-08-16 06:18] #932 closed

[2022-08-23 06:14] avxkim opened #940 "ERROR Cannot start nuxt: No "exports" main defined in /node_modules/nuxt-jsonld/package.json"
`"nuxt": "^3.0.0-rc.4"`

Installed:

`yarn add nuxt-jsonld`

Then trying to start in develop mode and getting an error: "ERROR  Cannot start nuxt:  No "exports" main defined in /node_modules/nuxt-jsonld/package.json"

[2022-08-30 09:41] ymmooot commented on #940
Hi @avxkim, please update your nuxt to `3.0.0-rc.8`.
It will be resolved.

[2022-09-10 03:33] f3oall opened #963 "Can't pass type 'Graph' to useJsonLd function"
**Describe the bug**
Can't pass object of type 'Graph' to `useJsonLd` function. As far as I understand the `JsonLD` type doesn't include `Graph`.

**Your Nuxt version**
Nuxt 3 rc 9

**Your nuxt-jsonld version**
"^2.0.5"

**To Reproduce**
Try to pass object with type 'Graph' (see the screenshot)

**Screenshots**
![image](https://user-images.githubusercontent.com/1751835/189467055-753f177c-62c9-4dde

[2022-09-13 02:06] #940 closed

[2022-09-13 02:12] ymmooot commented on #963
Fixed by #964 and v2.0.6 has been released.

[2022-09-13 02:12] #963 closed

[2022-09-13 02:13] ymmooot commented on #927
no response

[2022-09-13 02:13] #927 closed

[2022-10-29 13:22] Right-Brain-Group commented on #763
Link to repo not working.

[2022-11-16 09:07] thijsw opened #1014 "Support Nuxt v3.0.0 (stable)"
**Describe the bug**
When I'm trying to use this module with the (just released) stable 3.0.0 version I get the following error:

[code]

**Your Nuxt version**
3.0.0

**Your nuxt-jsonld version**
latest

[2022-11-16 16:15] kstraszewski commented on #1014
Same here

[2022-11-16 17:24] MyWay commented on #1014
Which should be related to https://github.com/nuxt/framework/pull/9029

[2022-11-16 19:04] quamsta commented on #1014
Added a PR that should resolve this.

[2022-11-18 11:19] ymmooot commented on #1014
Thank you all 🙏
v2.0.7 has been released.

[2022-11-18 11:19] #1014 closed